@import "../node_modules/bootstrap/scss/bootstrap";
@import "index";


.form {
  @extend .form-control;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px; 
}

.middle-column {
  @extend .stack-column;
  width: 40vw;
  height: 100%;
}

.button {
  @extend .btn;
  @extend .btn-primary;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}